* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

#root {

  & > section {
    display: flex;
    flex-direction: column;
    .size(100vw, 100vh);

    header {
      display: flex;
      justify-content: space-between;
      background: rgb(40, 44, 51);
      padding: 2vmin 2vmin;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
    
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    
        li {
          display: flex;
          align-items: center;
          padding:  0 1vmin;
    
          a {
            text-decoration: none;
            color: white;
        
            &.active {
              color: yellow;
            }
          }
        }
      }
    }

    .mainContent {
      display: flex;
      align-items: center;
      padding-left: 5vmin;

      &.homepage {
        flex-grow: 2;
        background-size: cover;
        background-position: center top;

        h1 {
          font-size: 3em;
          color: rgb(186, 219, 223);
          text-shadow: 0 0 4px black;
          max-width: 60%;
        }
      }
    }
    
    footer {
      display: flex;
      background: rgb(40, 44, 51);
      padding: 2vmin 2vmin;
      justify-content: center;
    
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#cart {
  position: absolute;
  .size(100%, 100%);
  overflow: hidden;

  .background {
    background: rgba(0, 0, 0, 0.5);
    .size(100%, 100%);
    position: absolute;
    //left: -100%;

    //transition: left 1s linear;

    /* transition-property: left;
    transition-duration: 1s;
    transition-timing-function: linear; */
  }

  .navBar {
    background: white;
    .size(40%, 100%);
    position: absolute;
    //right: -40%;

    //transition: right 1s linear;

/*     transition-property: right;
    transition-duration: 1s;
    transition-timing-function: linear; */
  }

  &.active {

    .background {
      animation-name: changeBackgroundPositionForBackground;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

/*     .background {
      left: 0;
    }

    .navBar {
      right: 0;
    } */

    .navBar {
      animation-name: changeBackgroundPositionForNavBar;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes changeBackgroundPositionForBackground{
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes changeBackgroundPositionForNavBar{
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}