* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

body {
  overflow-x: hidden;
}

#root {

  & > section {
    position: relative;

    &.homepage {
      .size(100vw, 100vh);
      display: flex;
      flex-direction: column;

      .mainContent {
        flex-grow: 2;
        background-size: cover;
        background-position: center top;

        h1 {
          font-size: 3em;
          color: rgb(186, 219, 223);
          text-shadow: 0 0 4px black;
          max-width: 60%;
        }
      }
    }

    &.contact {
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      .mainContent {
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        & > * {
          margin: 0 2vmin;
          cursor: pointer;
        }

        & > div {
          margin-top: 2vmin;
        }
      }
    }

    &.shopPage {

      .mainContent {
        align-items: stretch;
        justify-content: space-between;

        & > div {

          &.visible {
            margin-top: 4vmin;

            & h3 {
              margin-top: 2vmin;
            }

            & p, & button {
              margin-top: 1.5vmin;
            }

            & button {
              border: none;
              outline: none;
              background: black;
              color: white;
              font-weight: 900;
              padding: 1vmin;
              cursor: pointer;
            }
          }

          width: 30vmin;
          display: flex;
          flex-direction: column;

          .image {
            width: 100%;
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            &::after {
              content: '';
              padding-top: 100%;
              display: block;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-end;
          }
        }
      }

      footer {
        margin-top: 4vmin;
      }
    }

    header {
      display: flex;
      justify-content: space-between;
      background: rgb(40, 44, 51);
      padding: 2vmin 2vmin;
      color: white;
      text-transform: uppercase;
      font-weight: 900;

      h2 {
        display: flex;
        align-items: center;
      }
    
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    
        li {
          display: flex;
          align-items: center;
          padding:  0 1vmin;
          position: relative;

          img {
            height: 100%;
            width: auto;
            display: block;
            cursor: pointer;
          }

          .countSelectedProducts {
            position: absolute;
            right: 0;
            top: 0;
            color: yellow;
          }
    
          a {
            text-decoration: none;
            color: white;
        
            &.active {
              color: yellow;
            }
          }
        }
      }
    }

    .mainContent {
      display: flex;
      align-items: center;
      padding: 0 5vmin;
      flex-wrap: wrap;
    }
    
    footer {
      display: flex;
      background: rgb(40, 44, 51);
      padding: 2vmin 2vmin;
      justify-content: center;
    
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  #cart {
    position: absolute;
    top: 0;
    .size(100%, 100%);
    overflow: hidden;
  
    #background {
      background: rgba(0, 0, 0, 0.5);
      .size(100%, 100%);
      position: absolute;
  
      animation-name: changePositionForBackgroundAfterActive;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  
    .navBar {
      background: white;
      .size(40%, 100%);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      animation-name: changePositionForNavBarAfterActive;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      //overflow-y: hidden;
      overflow-y:auto;

      h2 {
        margin-top: 2vmin;
      }

      ul {
        list-style: none;
        width: 100%;

        .product {
          display: flex;
          width: 100%;
          margin-top: 2.5vmin;
          justify-content: center;

          .image {
            width: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            &::after {
              content: '';
              padding-top: 100%;
              display: block;
            }
          }

          .detailInfo {
            width: 30%;
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
 
            & h3,
            & p {
              text-align: center !important;
            }

            div {
              display: flex;
              justify-content: space-evenly;

              button {
                padding: 2vmin;
                position: relative;
                border: 0;
                background: rgb(177, 177, 177);

                &::after {
                  .size(100%, 100%);
                  top: 0;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  font-size: 16px;
                  vertical-align: middle;
                  font-weight: 900;
                }

                &.decrement::after {
                  content: '−';
                }
  
                &.increment::after {
                  content: '+';
                }
              }
            }
          }
        }
      }

      #total {
        margin-top: 2vmin;
      }
    }

    #checkoutBtn,
    #closeBtn {
      width: 80%;
      margin-top: 2vmin;
      padding: 1.2vmin;
      border: none;
      outline: none;
      cursor: pointer;
    }

    #checkoutBtn {
      background: green;
    }

    #closeBtn {
      background: red;
    }

  
    &.active {
  
      #background {
        animation-name: changePositionForBackground;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
  
      .navBar {
        animation-name: changePositionForNavBar;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }

    @keyframes changePositionForBackground{
      from {
        left: -100%;
      }
      to {
        left: 0;
      }
    }
    
    @keyframes changePositionForNavBar{
      from {
        right: -40%;
      }
      to {
        right: 0;
      }
    }
    
    @keyframes changePositionForBackgroundAfterActive{
      from {
        left: 0;
      }
      to {
        left: -100%;
      }
    }
    
    @keyframes changePositionForNavBarAfterActive{
      from {
        right: 0;
      }
      to {
        right: -40%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #root #cart .navBar ul .product .detailInfo {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  #root #cart {
    & #checkoutBtn,
    & #closeBtn {
      width: 60%;
    }
  }
}